@import "bootstrap/scss/bootstrap";
//
//@font-face{font-family:'RR';src:url('/fonts/RobotoRegular.woff2') format('woff2'),url('/fonts/RobotoRegular.woff') format('woff');}
//@font-face{font-family:'RB';src:url('/fonts/RobotoBold.woff2') format('woff2'),url('/fonts/RobotoBold.woff') format('woff');}
//@font-face{font-family:'RMe';src:url('/fonts/RobotoMedium.woff2') format('woff2'),url('/fonts/RobotoMedium.woff') format('woff');}
//
//@font-face{font-family:'UHI';src:url('/fonts/UTMHelvetIns.woff2') format('woff2'),url('/fonts/UTMHelvetIns.woff') format('woff');}
//
//
//
//@font-face{font-family:'SZe';src:url('/fonts/SVN-Zero.woff2') format('woff2'),url('/fonts/SVN-Zero.woff') format('woff');}
//
//@font-face{font-family:'vlmlgt';src:url('/fonts/vlmisslegatees.woff2') format('woff2'),url('/fonts/vlmisslegatees.woff') format('woff');}
//
//@font-face{font-family:'UN';src:url('/fonts/UTMNokia.woff2') format('woff2'),url('/fonts/UTMNokia.woff') format('woff');}
//

/**/
@font-face{font-family:'QsR';src:url('/fonts/QuicksandRegular.woff2') format('woff2'),url('/fonts/QuicksandRegular.woff') format('woff');}
@font-face{font-family:'QsB';src:url('/fonts/QuicksandBold.woff2') format('woff2'),url('/fonts/QuicksandBold.woff') format('woff');}
@font-face{font-family:'QsMe';src:url('/fonts/Quicksand-Medium.woff2') format('woff2'),url('/fonts/Quicksand-Medium.woff') format('woff');}